@using QtasHelpDesk.Areas.Admin
<div class="navbar-nav " >
    <div class="dropdown">
        <a class="nav-item nav-link dropdown-toggle  text-white" data-toggle="dropdown"
           id="adminDropdown" aria-haspopup="true"
           aria-expanded="false" href="#">
            منوی مدیریتی
        </a>
        <div class="dropdown-menu" aria-labelledby="adminDropdown">
            <a class="dropdown-item"  href="/Admin/user">
                <i class="fas fa-user mr-1" aria-hidden="true"></i>
                مدیریت کاربران
            </a>
            <a class="dropdown-item" href="/Admin/Group">
                <i class="fas fa-object-group mr-1" aria-hidden="true"></i>
                مدیریت  گروه ها
            </a>
                <a class="dropdown-item" href="/Admin/post">
                    <i class="fas fa-sticky-note mr-1" aria-hidden="true"></i>
                    مدیریت پست ها
                </a>
                <a class="dropdown-item"  href="/Admin/Faq">
                    <i class="fas fa-question mr-1" aria-hidden="true"></i>
                  مدیریت سوالات
                </a>
        </div>
    </div>
</div>