
@{

    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <title>AdminLTE 2 | Lockscreen</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->

    <link href="~/css/BootStrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Fonts/Font Awesome/css/fontawesome-all.css" rel="stylesheet" />
    <!-- Theme style -->

    <link href="~/Lib/AdminLte/css/AdminLTE.css" rel="stylesheet" />
   
</head>
<body class="lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        @RenderBody()
    </div><!-- /.center -->
    <!-- jQuery 2.1.4 -->

    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap 3.3.4 -->

    <script src="~/Lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

