@{
    ViewData["Title"] = "عدم دسترسی!";
    this.Context.Response.StatusCode = (int)HttpStatusCode.Unauthorized;
    Layout = "_Layout";
}

<div class="card panel-danger mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        متاسفانه شما مجوز دسترسی به صفحه‌ی درخواستی را ندارید.
        
        <a href="@Url.Action("Index","Home")" class="btn btn-success"><i class="fa fa-arrow-alt-circle-left"></i>بازگشت </a>
    </div>
</div>