<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">تقویم</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
       <div class="col-md-12 text-center">
                <div id="calendarShamsi" style="width: 100%; height: 100%"></div>
            </div>
       
        <!-- /.row -->
    </div>
    <!-- /.box-body -->

</div>
