      
    <div class="callout callout-info">
        <div class="pull-left" tyle="font-size: 1.1em; min-height:10%">  <i class="fa fa-bullhorn"></i></div>
      
        <div id="marquee"class='marquee'>
            <span id="Notice"></span>
        </div>
        <h4></h4>
    </div>