<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">ساعت</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12 text-center" style="min-height: 275px;">
                <canvas id="canvas" width="200" height="200"></canvas>
            </div>
                   
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
    </div>