<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">اعلان</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12" style="min-height: 275px;">
                <span class="text-center " id="Notice"></span>
            </div>
                    
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->

</div>