
<div class="box  direct-chat direct-chat-primary">
        
    <!-- /.box-header -->
    <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages"  style="background-color: lightgray">
               
        </div>
        <!--/.direct-chat-messages-->
        <!-- Contacts are loaded here -->
        <div class="direct-chat-contacts">
                
            <!-- /.contatcts-list -->
        </div>
        <!-- /.direct-chat-pane -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <form action="#" method="post">
            <div class="input-group">
                <input type="text" name="message" id="Content" placeholder="یادداشت جدید ..." class="form-control">
                <span class="input-group-btn">
                    <button type="button" id="btnSave" class="btn btn-primary btn-flat">ارسال</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.box-footer-->
</div>
