@model QtasHelpDesk.ViewModels.Content.InformationViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var searchsUrl = Url.Action("Search", "Post");
    var bulletImage = Url.Content("~/Images/bullet_shape.png");
}
@foreach (var faqwModel in Model.FaqViewModels)
{

   <div class="card">
        <div class="card-header bg-info" style="">
            <h6 class="panel-title text-white" itemprop="headline_name">
                <i class="fa fa-question-circle"></i>
                @faqwModel.Question
            </h6>
        </div>
           <div class="card-body"><i class="fa fa-reply"></i> پاسخ: @faqwModel.Reply</div>
        <div class="card-footer">  <i class="fa fa-user-circle"></i> نوشته شده توسط :@faqwModel.UserFullName<i class="fa fa-clock-o"></i>  @faqwModel.Date</div>

            </div>
    <br />

}
    <partial name="_Posts" model=@Model.PostViewModels />

@section Scripts
    {
    
}


