

@{
    ViewData["Title"] = "Index";

}
<div id="content">
    <div class="loader"></div>
</div>
@section Scripts
{
    <script>
        ShowContent();
        $("#btnFilter").click(function () {
            ShowContent();
        });
        function ShowContent() {
            var showPost;
            var showFaq;
            var groupId = getUrlVars()["groupId"];
          
            if ($('#chkArticle').is(":checked")) {
                showPost = true;
            }

            if ($('#chkQuestion').is(":checked")) {
                showFaq = true;
            }

            $.ajax({
                type: 'POST',
                url: "/post/FilterContent/" + showPost + "/" + showFaq+"/"+groupId,
                success: function (result) {
                    $("#content").html(result)
                },
                error: function (xhr, status, error) {
                    alert(error.message);
                }
            });
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }


    </script>
}
